In [1]:
bool(False)

False

In [2]:
mystr = "hjghjg jhukj"  #since space is present false for alnum

In [3]:
mystr.isalnum()

False

In [4]:
mystr.isalpha()

False

In [5]:
mystr.isdigit()

False

In [6]:
type([])

list

In [8]:
lst = list()
lst

[]

In [9]:
idk = {1: 'dkgj'}

In [10]:
type(idk)

dict

In [11]:
d1 = {'K1' : 1}
d2 = {'K2' : 2}
d3 = {'K3' : 3}

In [12]:
d = {'myK1' : d1, 'myK2' : d2, 'myK3' : d3}

In [13]:
d

{'myK1': {'K1': 1}, 'myK2': {'K2': 2}, 'myK3': {'K3': 3}}

In [14]:
d['myK2']['K2']

2

In [15]:
import numpy as np

In [16]:
type(np.array(1))   #array in ref type

numpy.ndarray

In [17]:
l1 = [6,4,2,5,6]
l2 = [6,7,8,5,6]
l3 = [11,24,32,45,56]
a = np.array([l1, l2, l3])

In [18]:
a.reshape(1,15)

array([[ 6,  4,  2,  5,  6,  6,  7,  8,  5,  6, 11, 24, 32, 45, 56]])

In [19]:
a

array([[ 6,  4,  2,  5,  6],
       [ 6,  7,  8,  5,  6],
       [11, 24, 32, 45, 56]])

In [20]:
a.ndim

2

In [21]:
a>20

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False,  True,  True,  True,  True]])

In [26]:
a[a<20]

array([ 6,  4,  2,  5,  6,  6,  7,  8,  5,  6, 11])

In [27]:
arr = np.arange(2,15,1)    #step
arr

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [32]:
arr = np.linspace(10,1,10) #values
arr

array([10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1.])

In [33]:
arr[5:] = 100
arr

array([ 10.,   9.,   8.,   7.,   6., 100., 100., 100., 100., 100.])

In [34]:
arr==100

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [35]:
x = arr*100
x

array([ 1000.,   900.,   800.,   700.,   600., 10000., 10000., 10000.,
       10000., 10000.])

In [157]:
arr<100

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

In [159]:
arr[False]

array([], shape=(0, 10), dtype=float64)

In [53]:
arr[arr<100]     #elements less than 100

array([10.,  9.,  8.,  7.,  6.])

In [60]:
(np.random.rand(3,3,2)*10)

array([[[1.80555733, 0.76270506],
        [7.2769271 , 5.95701939],
        [7.65350707, 5.56215083]],

       [[7.49417786, 9.5101755 ],
        [9.58346674, 0.75412894],
        [5.63010382, 3.86017293]],

       [[2.43987724, 4.18982945],
        [9.5342618 , 7.71586587],
        [0.6517165 , 6.2583325 ]]])

In [62]:
np.ones((3,5), dtype=str)

array([['1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1']], dtype='<U1')

In [78]:
np.random.randint(1,40,32).reshape(2,4,2,2)

array([[[[ 1, 19],
         [18, 32]],

        [[14, 31],
         [ 5, 30]],

        [[20, 11],
         [19,  1]],

        [[ 8,  6],
         [25, 24]]],


       [[[13, 37],
         [23, 20]],

        [[26,  1],
         [21, 14]],

        [[22, 31],
         [24, 37]],

        [[29, 36],
         [14, 19]]]])

In [79]:
np.random.randint(1,40,16).reshape(2,4,2,1)

array([[[[24],
         [14]],

        [[20],
         [27]],

        [[21],
         [11]],

        [[20],
         [10]]],


       [[[ 6],
         [ 8]],

        [[14],
         [17]],

        [[34],
         [ 7]],

        [[31],
         [11]]]])

In [80]:
import pandas as pd

In [99]:
df = pd.DataFrame(np.arange(1,11,1).reshape(2,5),index=['r1', 'r2'], columns=['c1','c2','c3','c4','c5'])
df

    c1  c2  c3  c4  c5
r1   1   2   3   4   5
r2   6   7   8   9  10

In [100]:
# df.to_csv('')

In [91]:
np.arange(1,12,1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [88]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [101]:
df

    c1  c2  c3  c4  c5
r1   1   2   3   4   5
r2   6   7   8   9  10

In [109]:
type(df.loc['r1'])

pandas.core.series.Series

In [121]:
df.loc['r1',['c2','c4']]

c2    2
c4    4
Name: r1, dtype: int32

In [123]:
# converting dfs to arrays -> removing the row & col indices
df.values.shape

(2, 5)

In [131]:
df.sum(axis=0)

c1     7
c2     9
c3    11
c4    13
c5    15
dtype: int64

In [133]:
df['c1'].value_counts()

1    1
6    1
Name: c1, dtype: int64

In [140]:
type(df[['c1','c4']])

pandas.core.frame.DataFrame

In [149]:
theList = [['a', 505, 'Data-science', 9.5],
 ['b', 101, 'Python', 10],
 ['c', 222, 'Mathematics', 9],
 ['d', 301, 'PHP', 7],
 ['e', 202, 'Descriptive analytics', 9],
 ['f',505, 'Business Intelligence', 10]]
df1 = pd.DataFrame(theList, columns=('rowID','subject-code', 'subject-name','score'))
df1

  rowID  subject-code           subject-name  score
0     a           505           Data-science    9.5
1     b           101                 Python   10.0
2     c           222            Mathematics    9.0
3     d           301                    PHP    7.0
4     e           202  Descriptive analytics    9.0
5     f           505  Business Intelligence   10.0

In [148]:
df1['score'].unique()

array([ 9.5, 10. ,  9. ,  7. ])

In [161]:
df1[df1['score']>9]

  rowID  subject-code           subject-name  score
0     a           505           Data-science    9.5
1     b           101                 Python   10.0
5     f           505  Business Intelligence   10.0

In [162]:
df1['score'][1]

10.0

In [163]:
# df=pd.read_csv(StringIO(data), dtype{'b':int, 'c':float, 'a':object})

In [164]:
import matplotlib.pyplot as plot
%matplotlib inline